@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* --primary-color: #ff7613;  */
  /* --primary-color: #33eaff;  */
  --background-color: #040c18;
  --sec-bg: #0a0a0a;
  --bg-card: #202127;
  --radio-borde: 8px;
  --primary-color: #26a69a;
  --seconday-color: rgb(64, 116, 228);
  --acento-color: #eb4b80;
  --text-color: #b6bbbd;
  --blanco-humo: #f5f5f5;
  --blanco: #eee;
  --borde: 1px solid rgb(96, 104, 105);
  --danger: red;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", Inter, sans-serif;
  background-color: black;
  color: var(--blanco-humo);
}

img {
  width: 100%;
}

img:hover,
svg:hover {
  cursor: pointer;
  filter: grayscale(0);
  transition: 0.5s ease-in-out;
}

a {
  text-decoration: none;
  color: var(--blanco-humo);
}

/* layouts */
.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: 5rem;
  background: #07070717;
}

.grupo-1 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 5rem;
}

.title {
  font-family: "Anton", sans-serif;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.title-svg {
  background: black;
  color: var(--text-color);
  width: 20px;
  height: 20px;
}

.item_descripcion {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 200;
  line-height: 3rem;
}

.item_descripcion:hover {
  cursor: pointer;
  color: var(--blanco-humo);
}
.pie-titulo-seccion {
  display: flex;
  justify-content: start;
  align-items: center;
}

/* profile */
.profile {
  margin-bottom: 2rem;
}

.profile_container {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: start;
}
.profile-img {
  border-radius: 10px;
}

.profile_name {
  margin-top: 3px;
  font-weight: 700;
  color: var(--blanco-humo);
  font-size: 2.5rem;
  color: var(--primary-color);
}

.profile_name:hover {
  cursor: pointer;
  color: var(--seconday-color);
}

.profile_profileImg {
  max-width: 150px;
  max-height: 200px;
}

.profile_title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}

.profile-btns {
  margin-top: 2rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.button-down {
  background: inherit;
  color: var(--acento-color);
  padding: 15px 20px;
  border-radius: 9px;
  text-align: center;
  border: var(--borde);
  font-size: 1.5rem;
  transition: 0.3s;
}

.button-down:hover {
  cursor: pointer;
  background: var(--seconday-color);
  color: var(--blanco-humo);
  transition: 0.3s;
}

.btn-correo {
  background: inherit;
  border: var(--borde);
  border-radius: 9px;
  padding: 6px 10px;
  transition: 0.5s ease-in-out;
}

.btn-correo:hover {
  cursor: pointer;
  background: var(--seconday-color);
}

.description {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
}

.item_title {
  font-size: 1.6rem;
  color: var(--blanco);
  font-weight: 500;
  margin: 0.8rem 0;
}

.item_subtitle {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
}
/* Conociminetos */
.skill {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.skills_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 1rem;
  margin-left: 2rem;
  line-height: 2;
  font-size: 1.2rem;
}
.skills_list li {
  list-style-type: none;
}

.skill-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #202127;
  width: 68px;
  height: 68px;
  padding: 4px;
}
.img-icono {
  width: 35px;
  height: 35px;
}

.skills img,
.skills svg,
.proyectos img {
  filter: grayscale(1);
  transition: 0.2s ease-in-out;
}

.skill-box:hover img {
  cursor: pointer;
  filter: grayscale(0);
  transition: 0.2s ease-in-out;
}

.p-skill {
  font-size: smaller;
}

[data-animation="down"] {
  opacity: 0;
  transform: translateY(-100%);
  transition: 0.6s ease-in 0.6s;
  --opacity: 1;
  --transform: translateY(0);
}
.unset {
  opacity: var(--opacity);
  transform: var(--transform);
}

.skills_list svg {
  fill: var(--blanco);
  width: 44px;
  height: 47px;
}

/* formacion */

.edu_item:hover * {
  color: var(--blanco-humo);
}
.edu_item {
  margin-top: 1.5rem;
}
.edu h3 {
  text-align: left;
}
.edu hr {
  margin: 0;
}
/* about */
.about h3 {
  text-align: left;
}
.about hr {
  margin: 0;
}
.about p:nth-of-type(1) {
  margin-top: 2rem;
}
.about-section:hover * {
  color: var(--blanco-humo);
}
/* proyectos */
.t-proyectos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  padding: 3rem;
  position: relative;
}



.proyectos {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}

.proy-card {
  font-family: "Montserrat", sans-serif;
  width: 80%;
  height: auto;
  color: var(--blanco-humo);
  margin: 2rem auto;
  border-radius: 15px;
  padding: 1rem;
  transition: 0.3s;
}
.proy-card img {
  filter: grayscale(1);
  transition: 1s;
}
.proy-card img:hover {
  filter: grayscale(0);
  transition: 1s;
}
.proy-card:hover {
  /* background-color: #1a1515; */
  background: var(--bg-card);
  transition: 0.3s;
}

.titulo-card {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: 2rem auto;
  transition: 0.3s;
}

.proy-card:hover .titulo-card {
  color: var(--seconday-color);
  transition: 0.3s;
}
.proy-card:hover .descripcion-card {
  color: var(--blanco-humo);
}

.img-card {
  width: 95%;
  height: auto;
  margin: 2rem auto;
  border-radius: 15px;
}

[data-animation="show"] {
  opacity: 0;
  transform: scale(0);
  transition: 0.8s ease-in 0.8s;
  --opacity: 1;
  --transform: scale(1);
}
.unset {
  opacity: var(--opacity);
  transform: var(--transform);
}

.splide__slide {
  width: 95%;
  height: auto;
  margin: 1rem auto;
}

.splide__slide img {
  object-fit: cover;
}

.descripcion-card {
  margin: 1.5rem 0.5rem;
  font-size: 14px;
  font-weight: normal;
  line-height: 2rem;
  color: var(--text-color);
}

.link-proyecto {
  margin-top: 10px;
  text-align: center;
  font-size: 2rem;
}
.link-proyecto a {
  color: var(--acento-color);
}

.link-proyecto a:hover {
  color: var(--seconday-color);
}

/* Tercer proyecto AES*/
.wrapper-aes {
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 1rem;
  padding: 1rem;
}

.g-celda {
  background-color: #1a1515;
  border-radius: 8px;
  padding: 8px;
  border: var(--borde);
}

.g-celda img {
  height: auto;
}

/* fin proyecto saes */
/* nueva version proyecto saes */
#grilla-saes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.artic-saes {
  padding: 5px;
  border-radius: 8px;
}
.img-saes {
  width: 14rem;
  height: 15rem;
  border-radius: 5px;
}
.p-saes {
  max-width: 16rem;
  text-align: center;
  font-size: small;
  color: var(--blanco-humo);
  overflow: hidden;
}
/* fin nueva version proyecto saes */

.modal {
  font-family: "Montserrat", sans-serif;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 5px;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.contenido-modal {
  position: relative;
  width: 80%;
  height: auto;
  margin: 0 auto;
  -webkit-animation-name: animarsuperior;
  -webkit-animation-duration: 0.5s;
  animation-name: animarsuperior;
  animation-duration: 0.5s;
}
.titulo-modal {
  background: var(--bg-card);
  padding: 0.5rem;
}

.parrafo-modal {
  font-size: 14px;
  text-align: center;
  color: var(--blanco-humo);
  overflow: auto;
  padding: 0.5rem;
}

#imgModal {
  padding: 5px;
  height: 90%;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animarsuperior {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.cerrar {
  color: var(--text-color);
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
  color: var(--acento-color);
  text-decoration: none;
  cursor: pointer;
}

hr {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  border: none;
  border-top: 2px solid rgba(124, 123, 123, 0.229);
}
.sociales hr {
  margin: 0;
}
/* servicios */
.servicios {
  position: relative;
}

.t-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  padding: 4rem;
}

.t-servicios h3,
.t-proyectos h3 {
  font-size: 6rem;
  position: absolute;
}

.t-servicios-border,
.t-proyectos-border
 {
  color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

.t-servicios-wave, 
.t-proyectos-wave {
  color: #eb4b80;
  animation: wave 3s ease-in-out infinite;
}
@keyframes wave {
  0%,
  100% {
    clip-path: polygon(
      0% 20%,
      10% 48%,
      33% 54%,
      54% 80%,
      70% 61%,
      84% 65%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 65%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.card-servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  position: relative;
}

.s-card {
  height: auto;
  font-size: 14px;
  background: var(--sec-bg);
  border: var(--borde);
  border-radius: var(--radio-borde);
  padding: 1.5rem;
  position: relative;
  margin-top: 2rem;
}

.s-title {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
}

.s-circ-icon {
  background: inherit;
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: var(--borde);
  text-align: center;
}

.s-circ-1,
.s-circ-2,
.s-circ-3 {
  top: -18px;
  left: 46.5%;
}

/* fin de servicios */

.grupo-3 {
  display: flex;
  margin: 0 auto;
  gap: 5rem;
  justify-content: center;
  align-items: start;
}
.gradiente-a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
  z-index: -1;
}
.gradiente-c {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, #e9eee4 0%, #8adfe2 100%);
  filter: blur(900px);
  /* background: ghostwhite; */
  z-index: 0;
}
/* sociales */
.sociales {
  flex: 1;
}
.sociales h3 {
  text-align: left;
}

.items-sociales {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2px;
}

.social-item {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.social-item-a:hover {
  cursor: pointer;
  color: var(--seconday-color);
}

.section-logo {
  width: 250px;
  height: 250px;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
}

.logo {
  width: 150px;
  height: 150px;
}
.btn-copia {
  width: 20px;
  height: 20px;
  background: inherit;
  color: var(--text-color);
  border: none;
  padding: 2px;
}

.btn-copia:hover {
  color: var(--seconday-color);
  cursor: pointer;
}

/* contacto */
.contacto {
  flex: 1;
}
.contacto h3 {
  text-align: left;
}
form {
  margin-top: 2rem;
  font-size: 14px;
  padding: 2rem;
  border: 1px solid rgb(48, 53, 54);
  border-radius: 20px;
}

form fieldset {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  margin: 3rem 1rem;
  gap: 1rem;
  border: none;
}

form label {
  color: var(--text-color);
}

form input,
textarea {
  width: 100%;
  font-size: 1.5rem;
  background: none;
  color: var(--blanco-humo);
  border: var(--borde);
  border-radius: 5px;
  padding: 10px;
}
form input {
  height: 4rem;
}
form textarea {
  height: 8rem;
}

.is-required:after {
  content: "*";
  margin-left: 3px;
  color: var(--danger);
  font-weight: bold;
}

.btn-submit {
  font-size: 20px;
  width: 9rem;
  height: 4rem;
  padding: 6px;
  background-color: var(--acento-color);
  color: var(--blanco-humo);
  border: 1px solid rgb(48, 53, 54);
  border-radius: 8px;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: var(--seconday-color);
  color: var(--blanco-humo);
  transition: 0.3s;
}

#msg_email {
  text-align: center;
  font-size: small;
  color: var(--danger);
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 3rem;
    gap: 7rem;
  }
  .profile_container {
    flex-direction: column;
  }
  .profile {
    margin-bottom: 0;
  }
  .grupo-1 {
    flex-direction: column;
  }
  .proy-card {
    width: 100%;
  }
  .item_descripcion {
    font-size: 14px;
  }
  .s-title {
    font-size: 1.5rem;
  }
  .card-servicios {
    grid-template-columns: 1fr;
  }
  hr {
    margin: 0;
    text-align: start;
  }
  .grupo-3 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .title {
    font-size: 2rem;
    text-align: start;
  }

  p,
  .social-item,
  .item_descripcion {
    font-size: 14px;
  }
  .contacto {
    width: 100%;
  }
}
